apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: default

resources:
  - deployment.yaml
  - service.yaml
  - ingress.yaml

commonLabels:
  app: cliet-tableaux-angular
  managed-by: argocd

images:
  - name: app-image
    newName: ghcr.io/Benjaliette/cliet-tableaux-angular
    newTag: latest
