apiVersion: v1
kind: Service
metadata:
  name: cliet-tableaux-angular
spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: 8080
      protocol: TCP
      name: http
  selector:
    app: cliet-tableaux-angular
